
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 个人博客系统</title>
    @Styles.Render("~/Areas/Member/Content/member.css", "~/Areas/Member/Content/easyui.css", "~/Areas/Member/Content/icon.css", "~/Areas/Member/Content/bootstrap.css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <style type="text/css">
        .panel-body{
           padding:15px 0;
        }
    </style>
    <script type="text/javascript">
        //添加tab标签
        function addTab(title, herf, icons) {
            var _tabs = $("#mainTabs");
            if (_tabs.tabs('exists', title)) {
                _tabs.tabs('select', title)
            }
            else {
                _tabs.tabs('add', {
                    title: title,
                    closable: true,
                    content: '<iframe frameborder="0"  src="' + herf + '" style="width:100%;height:99%;overflow:hidden;"></iframe>',
                    iconCls: icons || 'icon-default'
                });
            }
        }
        //修改当前tab中iframe的链接
        function SetCurrentTabUrl(url) {
            var curtab = $('#mainTabs').tabs('getSelected');
            if (curtab && curtab.find("iframe").length > 0) {
                var ifream = curtab.find("iframe")[0];
                ifream.contentWindow.location.href = url;
            }
        }
        //初始化
        $(document).ready(function () {
            $("#mainTabs").tabs({
                fit: true,
                border: false
            })
        })
    </script>
</head>
<html>
<body id="layout" class="easyui-layout">
    <div data-options="region:'north'" style="height:50px;overflow:hidden;">
        @*<header style="height:30px;"></header>*@
        @*<nav id="mainNav" style="text-align:right">
            欢迎 <a href="javascript:void()">  @User.Identity.Name </a>
            <a href="@Url.Action("Logout","User")">注  销</a>
        </nav>*@
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("个人博客系统", "Index", "Home", null, new { @class = "navbar-brand", @style = "font-size:30px;color:#af7878;" })
                </div>
                <div class="navbar-collapse collapse" style="font-size: 18px;">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("主页", "Index", "Home")</li>
                        <li>@Html.ActionLink("关于", "About", "Home")</li>
                        <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("LoginPartial")
                </div>
            </div>
        </div>

    </div>
    <div data-options="region:'west',split:true" title="导航" style="width: 250px;overflow:hidden">
        @Html.Action("Menu")
    </div>
    <div data-options="region:'center'" style="overflow: hidden;width:800px;">
        <div id="mainTabs" style="width:100%;">
            <div data-options="iconCls:'icon-house'" title="首页">
                <span style="font-size:20px;">欢迎使用个人博客系统!</span>
            </div>
        </div>
    </div>
    <div data-options="region:'south'" style="height: 80px; overflow: hidden; text-align: center; font-size: 18px; background-color: #101010;">
        &copy; @DateTime.Now.Year - 我的web<br />
        <a href="http://mzwhj.cnblogs.com" style="color: #404040;">http://mzwhj.cnblogs.com-我的博客</a>
    </div>
   
</body>
</html>
